<!DOCTYPE html>
<html lang="en" ng-app="safnetDirectory">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prism Directory</title>
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")

    <script>
        var api = {
            employeePaging: '@Url.Action("EmployeePaging", "Home")',
            totalNumberOfEmployess: '@Url.Action("TotalnumberOfEmployees", "Home")',
            edit: '@Url.Action("Edit", "Home")',
            getRecord: '@Url.Action("GetRecord", "Home")'
        };
    </script>

    <link type="text/css" rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
    <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="~/App/app.js"></script>

    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prism Corporate Directory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="rainbow">&nbsp;</div>    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - safnet.com</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
